<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Zajc še kr nč ne dela</title>
  <meta charset="UTF-8">
  <title>Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="HandheldFriendly" content="true" />

  <link rel="stylesheet" type="text/css" href="../controlerStyle.css">

  <script src="https://jsconsole.com/js/remote.js?8e021c8d-eb8b-42d2-9283-dd5123ca4271"></script>

  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <link rel="stylesheet" href="../font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>

  <div class="buttonContainer">
    <!-- <button id="left"  class="fa fa-chevron-left fa-4x" aria-hidden="true"></button> -->
    <!-- <button id="right"  class="fa fa-chevron-right fa-4x" aria-hidden="true"></button> -->
    <span id="left" class="fa-stack fa-lg" aria-hidden="true" value="left">
      <i  class="fa fa-circle-thin  fa-stack-2x"></i>
      <i id="ar-left" class="fa fa-chevron-left fa-stack-1x"></i>
    </span>
    <span id="right" class="fa-stack fa-lg" aria-hidden="true" value="right">
      <i class="fa fa-circle-thin  fa-stack-2x"></i>
      <i id="ar-right" class="fa fa-chevron-right fa-stack-1x"></i>
    </span>
    <span id="ok" class="fa-stack fa-lg" aria-hidden="true" value="ok">
      <i class="fa fa-circle-thin  fa-stack-2x"></i>
      <i class="fa fa-check fa-stack-1x"></i>
    </span>
  </div>

  <!-- <div class="tester">
    <span id="messages">No messages</span><br>
    <input type ="button" id="l" value = "Left"></input><br>
    <input type ="button" id="o" value = "OK"></input><br>
    <input type ="button" id="r" value = "Right"></input><br>
  </div> -->

  <script>
  //prevents doule tap to zoom on iphone
  // (function($) {
  //   $.fn.nodoubletapzoom = function() {
  //   $(this).bind('touchstart', function preventZoom(e){
  //       var t2 = e.timeStamp;
  //       var t1 = $(this).data('lastTouch') || t2;
  //       var dt = t2 - t1;
  //       var fingers = e.originalEvent.touches.length;
  //       $(this).data('lastTouch', t2);
  //       if (!dt || dt > 500 || fingers > 1){
  //           return; // not double-tap
  //       }
  //       e.preventDefault(); // double tap - prevent the zoom
  //       // also synthesize click events we just swallowed up
  //       $(e.target).trigger('click');
  //   });};
  // })(jQuery);
  // $("body").nodoubletapzoom();

  //prevents scrolling on ios
  document.ontouchmove = function(event){
    event.preventDefault();
  }
  document.addEventListener('gesturestart', function (e) {
    e.preventDefault();
  });

  $(document).ready(function(){
    $("#left").click(function(){
      sendCode("left",null)
    });
    $("#right").click(function(){
      sendCode("right",null)
    });
    $("#ok").click(function(){
      sendCode("ok","dieCurve")
    })
  });

  var ws = new WebSocket("ws://"+ window.location.host+"/adminMobile");
  var url = window.location.href;
  url = url.split('/');
  idRoom = url[url.length-1];
  myID = -1;
  ws.onmessage = function (evt)
  {
      var received_msg = evt.data;
      data = JSON.parse(received_msg);
      myID = data.id;
      console.log(data);
      if(data.type=="action")
      {
//          console.log("delej");
          $('#left').unbind();
          $('#right').unbind();
          $('#ok').unbind();
          $('#left').off();
          $('#right').off();
          $('#ok').off();

        $('#right').on('touchstart', function (ev) {
//            $("#testek").text("right");
            timerRight = setInterval(sendRight, 50); // 250ms interval
            return false;
        });
        $('#right').on('touchend', function (ev) {
            clearInterval(timerRight);
            return false;
        });

        $('#left').on('touchstart', function (ev) {
//            $("#testek").text("left");
            timerLeft = setInterval(sendLeft, 50); // 250ms interval
            return false;
        });
        $('#left').on('touchend', function (ev) {
            clearInterval(timerLeft);
            return false;
        });

        $('#ok').on('click',function(ev)
        {
           ws.send(JSON.stringify({dieCurve:"true", action:"start_game", idRoom:idRoom}));
        });
      }
  };

  ws.onclose = function()
  {
    // websocket is closed.
//    document.getElementById("messages").innerHTML+="<br />Connection is closed";
  };

  function sendCode(code,game)
  {
    var url = window.location.href;
    url = url.split('/');
    idRoom = url[url.length-1];
    ws.send(JSON.stringify({command:code,idRoom:idRoom,selectGame:game}));
  }

  function sendLeft()
  {
      console.log(ws);
      ws.send(JSON.stringify({myID:myID, command:"left",dieCurve:"true",idRoom:idRoom}));
      console.log("sent left");
      console.log("my id : " + myID);
  }
  function sendRight()
  {
      console.log(ws);
      ws.send(JSON.stringify({myID:myID, command:"right",dieCurve:"true",idRoom:idRoom}));
      console.log("sent right");
      console.log("my id : " + myID);
  }
  </script>
</body>
</html>
