<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nabanu8</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://localhost:35729/livereload.js"></script>    <!-- moja pizdarija da nerabm refreshat skos - Jani -->

    <!-- =======================================ta pizdarija zrihta da izpiše lokaln ip========================================== -->
    <script>
      function getUserIP(onNewIP) { //  onNewIp - your listener function for new IPs
      //compatibility for firefox and chrome
      var myPeerConnection = window.RTCPeerConnection || window.mozRTCPeerConnection || window.webkitRTCPeerConnection;
      var pc = new myPeerConnection({
          iceServers: []
      }),
      noop = function() {},
      localIPs = {},
      ipRegex = /([0-9]{1,3}(\.[0-9]{1,3}){3}|[a-f0-9]{1,4}(:[a-f0-9]{1,4}){7})/g,
      key;

      function iterateIP(ip) {
          if (!localIPs[ip]) onNewIP(ip);
          localIPs[ip] = true;
      }

       //create a bogus data channel
      pc.createDataChannel("");

      // create offer and set local description
      pc.createOffer().then(function(sdp) {
          sdp.sdp.split('\n').forEach(function(line) {
              if (line.indexOf('candidate') < 0) return;
              line.match(ipRegex).forEach(iterateIP);
          });

          pc.setLocalDescription(sdp, noop, noop);
      }).catch(function(reason) {
          // An error occurred, so handle the failure to connect
      });

      //listen for candidate events
      pc.onicecandidate = function(ice) {
          if (!ice || !ice.candidate || !ice.candidate.candidate || !ice.candidate.candidate.match(ipRegex)) return;
          ice.candidate.candidate.match(ipRegex).forEach(iterateIP);
      };
      }
      // Usage
      getUserIP(function(ip){
        $("#ipAddress").text(ip+":3000");
      });
    </script>
    <!-- =======================================ta pizdarija zrihta da izpiše lokaln ip========================================== -->

</head>
  <body id="bodyDesktop">
    <div class="welcomeContainer">
      <p>Open <span id="ipAddress" class="higlight">[your ip address]</span> on your smartphone</p>
      <p>and enter this code: <span id="code" class="higlight">[code]</span>
    </div>

  </body>
</html>
