<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="HandheldFriendly" content="true" />
    <link rel="stylesheet" type="text/css" href="controlerStyle.css">
    <script src="https://jsconsole.com/js/remote.js?b51eb34a-9320-47ff-a01b-bde31232da88"></script>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
</head>

<body id="lala">

  <div class="button">
    <!--<button id="top">gor</button>-->
    <button id="leftt"  class="fa fa-chevron-left fa-5x" aria-hidden="true"></button>
    <!--<button id="down">dol</button>-->
    <button id="right"  class="fa fa-chevron-right fa-5x" aria-hidden="true"></button>
    <!-- <i class="fa fa-chevron-left fa-5x" aria-hidden="true"></i> -->
  </div>


  <div class="tester">
      <span id="messages">No messages</span>
  </div>


<script>
    //prevents doule tap to zoom on iphone
    (function($) {
      $.fn.nodoubletapzoom = function() {
      $(this).bind('touchstart', function preventZoom(e){
          var t2 = e.timeStamp;
          var t1 = $(this).data('lastTouch') || t2;
          var dt = t2 - t1;
          var fingers = e.originalEvent.touches.length;
          $(this).data('lastTouch', t2);
          if (!dt || dt > 500 || fingers > 1){
              return; // not double-tap
          }
          e.preventDefault(); // double tap - prevent the zoom
          // also synthesize click events we just swallowed up
          $(e.target).trigger('click');
      });};
    })(jQuery);
    $("body").nodoubletapzoom();

    //prevents scrolling on ios
    document.ontouchmove = function(event){
      event.preventDefault();
    }
    document.addEventListener('gesturestart', function (e) {
        e.preventDefault();
    });


    var ws = new WebSocket("ws://"+ window.location.host+"/game"); //ip
    myID = -1;
    console.log("my id : " + myID);
    ws.onopen = function()
    {
        // Web Socket is connected, send data using send()
        ws.send(JSON.stringify({"initial":"true"}));
        document.getElementById("messages").innerHTML+="<br />Connected!";
    };

    ws.onmessage = function (evt)
    {
        var received_msg = evt.data;
        data = JSON.parse(received_msg);
        console.log("data:");
        console.log(data);
        myID = data.id;
        //console.log(id);
        document.getElementById("messages").innerHTML+="<br />Recived message: " + received_msg;
    };

    ws.onclose = function()
    {
        // websocket is closed.
        document.getElementById("messages").innerHTML+="<br />Connection is closed";
    };

    function sendCode(code){
      //console.log(code);
      //alert(code);
      ws.send(JSON.stringify({myID:myID, command:code}));
    }
    function sendLeft()
    {
        ws.send(JSON.stringify({myID:myID, command:"left"}));
        console.log("sent left");
        console.log("my id : " + myID);
    }
    function sendRight()
    {
        ws.send(JSON.stringify({myID:myID, command:"right"}));
        console.log("sent right");
        console.log("my id : " + myID);
    }

    $('#right').on('touchstart', function (ev) {
        timerRight = setInterval(sendRight, 50); // 250ms interval
        return false;
    });
    $('#right').on('touchend', function (ev) {
        clearInterval(timerRight);
        return false;
    });

    $('#left').on('touchstart', function (ev) {
        timerLeft = setInterval(sendLeft, 50); // 250ms interval
        return false;
    });
    $('#left').on('touchend', function (ev) {
        clearInterval(timerLeft);
        return false;
    });

</script>
</body>
</html>
