<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GameRoom</title>
    <link rel="stylesheet" type="text/css" href="gameroom.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
  <body id="gameRoom">
    <div id="container">
      <div id="topDiv">
        <div class="welcomeContainerMobile">
          <p class="gameRoom"><span class="gameRoom"></span>GameRoom</p>
          <p class="gameID"><span class="gameID"></span>gameID</p>
        </div>
      </div>
      <div id="games">
        <button class="gameOne" disabled="false">GAME ONE</button>
        <button class="gameTwo" disabled="false">GAME TWO</button>
      <div id="clients">
        <input placeholder="[ admin ]">
        <input placeholder="[ client1 ]">
        <input placeholder="[ client2 ]">
        <input placeholder="[ client3 ]">
      </div>
    </div>
  </body>
</html>


<script>
$(function() {


})

</script>
