<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GameRoom</title>
    <link rel="stylesheet" type="text/css" href="gameroom.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
  <body id="gameRoom">
    <input placeholder="Game Room">
    <input placeholder="[ gameID ]">
    <div id="games">
      <button class="button" disabled="false">Button</button>
      <button class="button" disabled="false">Button2</button>
      <button class="button" disabled="false">Button3</button>
      <button class="button" disabled="false">Button4</button>
    </div>
    <div id="clients">
      <input placeholder="[ admin ]">
      <input placeholder="[ client1 ]">
      <input placeholder="[ client2 ]">
      <input placeholder="[ client3 ]">
    </div>
  </body>
</html>


<script>
$(function() {


})

</script>
