<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>GameRoom</title>
  <link rel="stylesheet" type="text/css" href="../gameroom.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="http://localhost:35729/livereload.js"></script>
</head>
<body id="gameRoom">

  <p>Open <span id="testGameRoom" lass="higlight"></span> on your smartphone</p>
  <p>bla <span id = "testAdmin"></span></p>

  <p><span id = "testAdminConsole" ></span></p>
  <ul id = "guests"></ul>

  <div id="container">
    <div id="topDiv">
      <div class="welcomeContainerMobile">
        <p class="gameRoom"><span class="gameRoom"></span>GameRoom</p>
        <p class="gameID"><span class="gameID"></span>gameID</p>
      </div>
    </div>
    <div id="games">
      <button class="gameOne" disabled="false">GAME ONE</button>
      <button class="gameTwo" disabled="false">GAME TWO</button>
      <div id="clients">
        <input placeholder="[ admin ]">
        <input placeholder="[ client1 ]">
        <input placeholder="[ client2 ]">
        <input placeholder="[ client3 ]">
      </div>
    </div> -->
    <div class="topDiv">Select a game</div>
    <div class="gameContainer">
        <div class="gameSelect" id="game1">1</div>
        <div class="gameSelect big" id="game2">2</div>
        <div class="gameSelect" id="game3">3</div>
    </div>
    <p id="x">neki</p>
</body>
</html>
<script>
$("body").keydown(function(e) {
  if(e.keyCode == 37) { // left
    $("#x").text("left");
  }
  else if(e.keyCode == 39) { // right
    $("#x").text("right");
  }
});

  //var ws = new WebSocket("ws://"+window.location.host+"/server");
  var ws = new WebSocket("ws://"+window.location.host+"/admin");
  var idRoom = -1;

  $(function()
  {
    var url = window.location.href;
    url = url.split('/');
    idRoom = url[url.length-1];
    ws.send(JSON.stringify({action:"sendMeSessionData",idRoom:idRoom}));

    ws.onmessage = function (evt)
    {
      var received_msg = evt.data;
      data = JSON.parse(received_msg);
      var ulclients = document.getElementById("guests");

      //////////////// Loadanje game room
      if(data.type == "gameRoom")
      {
        document.getElementById("testGameRoom").innerHTML=data.admin;

        var s = "";
        for(var i = 0; i < data.clients.length; i++)
        {
          s+="<li>"+data.clients[i]+"</li>";
        }
        ulclients.innerHTML=s;
      }
      if(data.isThisHostAdmin == "true")
      document.getElementById("testAdmin").innerHTML=" Jaz sem admin";

      if(data.type == "adminCmd")
      document.getElementById("testAdmin").innerHTML="Admin je kliknil "+data.command
    };
  })
  </script>
