<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>GameRoom</title>
  <link rel="stylesheet" type="text/css" href="../gameroom.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="http://localhost:35729/livereload.js"></script>
</head>
<body id="gameRoom">

    <p class="higlight" id="code">roomID</p>
    <div class="playerContainer1">
      <span id="testGameRoom" class="higlight"></span>
      <ul id = "guests"></ul>
    </div>
    <div class="topDiv higlight">Select a game</div>
    <div class="gameContainer">
        <div class="game higlight vIzdelavi" id="game1">V izdelavi</div>
        <div class="game higlight" id="game2"></div>
        <div class="game higlight vIzdelavi" id="game3">V izdelavi</div>
    </div>
</body>
</html>
<script>
  $(document).ready(function(){







    var url = window.location.href;
    url = url.split('/');
    $("#code").text(url[url.length-1]);

    // $("body").keydown(function(e) {
    //   if(e.keyCode == 37) { // left
    //     selectedGame--;
    //     if(selectedGame<0){
    //       selectedGame=games.length-1;
    //     }
    //     $(".gameSelected").removeClass("gameSelected");
    //     $(games[selectedGame]).addClass("gameSelected");
    //     // $(".gameContainer").css({left: "200px"});
    //   }
    //   else if(e.keyCode == 39) { // right
    //     selectedGame++;
    //     if(selectedGame>games.length-1){
    //       selectedGame=0;
    //     }
    //     $(".gameSelected").removeClass("gameSelected");
    //     $(games[selectedGame]).addClass("gameSelected");
    //   }
    //   if(selectedGame==1){
    //     $(".gameContainer").css({left: "0px"});
    //   }
    //   else if (selectedGame==0) {
    //     $(".gameContainer").css({left: "240px"});
    //   }
    //   else if (selectedGame==2) {
    //     $(".gameContainer").css({left: "-240px"});
    //   }
    // });
  });

  //var ws = new WebSocket("ws://"+window.location.host+"/server");
  var ws = new WebSocket("ws://"+window.location.host+"/admin");
  var idRoom = -1;

  $(function()
  {
    var url = window.location.href;
    url = url.split('/');
    idRoom = url[url.length-1];
    ws.send(JSON.stringify({action:"sendMeSessionData",idRoom:idRoom}));

    ws.onmessage = function (evt)
    {
      var received_msg = evt.data;
      data = JSON.parse(received_msg);
      var ulclients = document.getElementById("guests");
      console.log(data);
      //////////////// Loadanje game room
      if(data.type == "gameRoom")
      {
        // document.getElementById("testGameRoom").innerHTML=data.admin;

        var s = "";
        for(var i = 0; i < data.clients.length; i++)
        {
          s+="<li>"+data.clients[i]+"</li>";
        }
        ulclients.innerHTML=s;
      }
      // if(data.isThisHostAdmin == "true")
      // document.getElementById("testAdmin").innerHTML=" Jaz sem admin";

      // if(data.type == "adminCmd")
      // document.getElementById("testAdmin").innerHTML="Admin je kliknil "+data.command;
      if(data.type == "adminCmd"){
        sendPremik(data.command);
      }
      if(data.type=="url")
      {
          window.location = data.url;
      }
    };
  })
  var games=["#game1","#game2","#game3"]
  var selectedGame=1;
  var left = $(".gameContainer").css("left");
  $(games[selectedGame]).addClass("gameSelected");
  $(".gameContainer").css({left: "1px"});
  function sendPremik(move){
    // console.log("lalalalal");
    if(move == "levo")
    {
      $(games[selectedGame]).addClass("gameSelected");
      $(".gameContainer").css({left: "1px"});
      selectedGame--;
      if(selectedGame<0){
        selectedGame=games.length-1;
      }
      $(".gameSelected").removeClass("gameSelected");
      $(games[selectedGame]).addClass("gameSelected");
    }
    if(move == "desno")
    {
      selectedGame++;
      if(selectedGame>games.length-1){
        selectedGame=0;
      }
      $(".gameSelected").removeClass("gameSelected");
      $(games[selectedGame]).addClass("gameSelected");
    }
    if(selectedGame==1){
      $(".gameContainer").css({left: "0px"});
    }
    else if (selectedGame==0) {
      $(".gameContainer").css({left: "240px"});
    }
    else if (selectedGame==2) {
      $(".gameContainer").css({left: "-240px"});
    }
  }

  </script>
