<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="HandheldFriendly" content="true" />
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://jsconsole.com/js/remote.js?b51eb34a-9320-47ff-a01b-bde31232da88"></script>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <script>
      document.ontouchmove = function(event){
        event.preventDefault();
      }
      document.addEventListener('gesturestart', function (e) {
          e.preventDefault();
      });
      $(document).ready(function(){

        $(".number").click(function(){
            $(".code").append($(this).text());
        });
        $(".del").click(function(){
            $(".code").text($(".code").text().slice(0,-1));
        });
        $(".ok").click(function(){
           sendCode($(".code").text())
        })
      });
    </script>

</head>

<body id="bodyMobile">
  <div class="test">
  </div>

<div class="tester">
    <!--<button id="top">gor</button>-->
    <button id="right" onclick="sendRight()">desno</button>
    <!--<button id="down">dol</button>-->
    <button id="left" onclick="sendLeft()">levo</button>
    <span id="messages">No messages</span>
</div>
<div class="welcomeContainerMobile">
  <p>Open <span class="higlight">localhost:3000</span> on your desktop and get your code</p>
</div>
<p class="code"></p>
<div id="numpadContainer">
        <button type="button" name="button" class="keyboard number">1</button>
        <button type="button" name="button" class="keyboard number">2</button>
        <button type="button" name="button" class="keyboard number">3</button>
        <button type="button" name="button" class="keyboard number clearl">4</button>
        <button type="button" name="button" class="keyboard number">5</button>
        <button type="button" name="button" class="keyboard number">6</button>
        <button type="button" name="button" class="keyboard number clearl">7</button>
        <button type="button" name="button" class="keyboard number">8</button>
        <button type="button" name="button" class="keyboard number">9</button>
        <button type="button" name="button" class="keyboard del clearl">DEL</button>
        <button type="button" name="button" class="keyboard number">0</button>
        <button type="button" name="button" class="keyboard ok">OK</button>
</div>

<script>
    console.log("Web console working");

    var url;
    $(function() {
      url = window.location.href;
      var res = url.split("/");
      url = "/"+res[1]+"/"+res[2]+"/";
    })

    var ws = new WebSocket("ws:"+url+"game"); //ip
    myID = -1;
    console.log("my id : " + myID);
    ws.onopen = function()
    {
        // Web Socket is connected, send data using send()
        ws.send(JSON.stringify({"initial":"true"}));
        document.getElementById("messages").innerHTML+="<br />Connected!";
    };

    ws.onmessage = function (evt)
    {
        var received_msg = evt.data;
        data = JSON.parse(received_msg);
        console.log("data:");
        console.log(data);
        myID = data.id;
        //console.log(id);
        document.getElementById("messages").innerHTML+="<br />Recived message: " + received_msg;
    };

    ws.onclose = function()
    {
        // websocket is closed.
        document.getElementById("messages").innerHTML+="<br />Connection is closed";
    };

    function sendCode(code){
      //console.log(code);
      //alert(code);
      ws.send(JSON.stringify({myID:myID, command:code}));
    }
    function sendLeft()
    {
        ws.send(JSON.stringify({myID:myID, command:"left"}));
        console.log("sent left");
        console.log("my id : " + myID);
    }
    function sendRight()
    {
        ws.send(JSON.stringify({myID:myID, command:"right"}));
        console.log("sent right");
        console.log("my id : " + myID);
    }

</script>
</body>
</html>
