<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="HandheldFriendly" content="true" />
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://jsconsole.com/js/remote.js?2a1e06ef-dffb-4226-ace9-12e30118ffe9"></script>
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body id="bodyMobile">
  <div class="tester">
    <!--<button id="top">gor</button>-->
    <button id="right" onclick="sendRight()">desno</button>
    <!--<button id="down">dol</button>-->
    <button id="left" onclick="sendLeft()">levo</button>
    <span id="messages">No messages</span>
  </div>
  <div class="welcomeContainerMobile">
    <p>Open <span class="higlight"></span> on your desktop and get your code</p>
  </div>
  <p class="code"></p>
  <div id="numpadContainer">
    <button type="button" name="button" class="keyboard number">1</button>
    <button type="button" name="button" class="keyboard number">2</button>
    <button type="button" name="button" class="keyboard number">3</button>
    <button type="button" name="button" class="keyboard number clearl">4</button>
    <button type="button" name="button" class="keyboard number">5</button>
    <button type="button" name="button" class="keyboard number">6</button>
    <button type="button" name="button" class="keyboard number clearl">7</button>
    <button type="button" name="button" class="keyboard number">8</button>
    <button type="button" name="button" class="keyboard number">9</button>
    <button type="button" name="button" class="keyboard del clearl">DEL</button>
    <button type="button" name="button" class="keyboard number">0</button>
    <button type="button" name="button" class="keyboard ok">OK</button>
  </div>

  <script>
  //prevents doule tap to zoom on iphone
  (function($) {
    $.fn.nodoubletapzoom = function() {
      $(this).bind('touchstart', function preventZoom(e){
        var t2 = e.timeStamp;
        var t1 = $(this).data('lastTouch') || t2;
        var dt = t2 - t1;
        var fingers = e.originalEvent.touches.length;
        $(this).data('lastTouch', t2);
        if (!dt || dt > 500 || fingers > 1){
          return; // not double-tap
        }
        e.preventDefault(); // double tap - prevent the zoom
        // also synthesize click events we just swallowed up
        $(e.target).trigger('click');
      });};
    })(jQuery);
    $("body").nodoubletapzoom();

    //prevents scrolling on ios
    document.ontouchmove = function(event){
      event.preventDefault();
    }
    document.addEventListener('gesturestart', function (e) {
      e.preventDefault();
    });
    //button functions
    $(document).ready(function(){
      $(".higlight").text( window.location.host);
      $(".number").click(function(){
        $(".code").append($(this).text());
      });
      $(".del").click(function(){
        $(".code").text($(".code").text().slice(0,-1));
      });
      $(".ok").click(function(){
        sendCode($(".code").text())
      })
    });

    var ws = new WebSocket("ws://"+ window.location.host+"/game"); //ip
    myID = -1;
    console.log("my id : " + myID);
    ws.onopen = function()
    {
      // Web Socket is connected, send data using send()
      ws.send(JSON.stringify({"initial":"true"}));
      document.getElementById("messages").innerHTML+="<br />Connected!";
    };

    ws.onmessage = function (evt)
    {
      var received_msg = evt.data;
      debugger;
      data = JSON.parse(received_msg);
      //        console.log("data:");
      //        console.log(data);
      if(data.type=="url")
      {
        idRoom = data.idRoom;
        window.location = data.url+'/'+idRoom;
        //  window.location = data.url;
      }
      else if(data.type=="msg")
      {
        showMsg(data.msg);
      }

      myID = data.id;
      //console.log(id);
      //        document.getElementById("messages").innerHTML+="<br />Recived message: " + received_msg;
    };

    ws.onclose = function()
    {
      // websocket is closed.
      document.getElementById("messages").innerHTML+="<br />Connection is closed";
    };

    function sendCode(code){
      //console.log(code);
      //alert(code);
      ws.send(JSON.stringify({myID:myID, command:code}));

    }
    function sendLeft()
    {
      ws.send(JSON.stringify({myID:myID, command:"left"}));
      console.log("sent left");
      console.log("my id : " + myID);
    }
    function sendRight()
    {
      ws.send(JSON.stringify({myID:myID, command:"right"}));
      console.log("sent right");
      console.log("my id : " + myID);
    }
    function showMsg(msg)
    {
      //TODO
      window.alert(msg)
    }

    </script>
  </body>
  </html>
