<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://jsconsole.com/js/remote.js?b51eb34a-9320-47ff-a01b-bde31232da88"></script>

</head>
<body>
  <body id="bodyMobile">
  <div class="test">
  </div>

<div class="tester">
    <!--<button id="top">gor</button>-->
    <button id="right" onclick="sendRight()">desno</button>
    <!--<button id="down">dol</button>-->
    <button id="left" onclick="sendLeft()">levo</button>
    <span id="messages">No messages</span>
</div>
<div class="welcomeContainerMobile">
  <p>Open <span class="higlight">localhost:3000</span> on your desktop and get your code</p>
</div>
<p class="code"></p>
<div id="numpadContainer">
    <!-- <ul id="keyboard">
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li class="clearl">4</li>
        <li>5</li>
        <li>6</li>
        <li class="clearl">7</li>
        <li>8</li>
        <li>9</li>
        <li class="zero clearl">0</li>
    </ul> -->
        <button type="button" name="button" id="keyboard">1</button>
        <button type="button" name="button" id="keyboard">2</button>
        <button type="button" name="button" id="keyboard">3</button>
        <button type="button" name="button" id="keyboard" class="clearl">4</button>
        <button type="button" name="button" id="keyboard">5</button>
        <button type="button" name="button" id="keyboard">6</button>
        <button type="button" name="button" id="keyboard" class="clearl">7</button>
        <button type="button" name="button" id="keyboard">8</button>
        <button type="button" name="button" id="keyboard">9</button>
        <button type="button" name="button" id="keyboard" class="clearl zero">0</button>
</div>



<script>
    console.log("Web console working");

    var ws = new WebSocket("ws://192.168.1.112:3000/game"); //ip
    myID = -1;
    console.log("my id : " + myID);
    ws.onopen = function()
    {
        // Web Socket is connected, send data using send()
        ws.send(JSON.stringify({"initial":"true"}));
        document.getElementById("messages").innerHTML+="<br />Connected!";
    };

    ws.onmessage = function (evt)
    {
        var received_msg = evt.data;
        data = JSON.parse(received_msg);
        console.log("data:");
        console.log(data);
        myID = data.id;
        console.log(id);
        document.getElementById("messages").innerHTML+="<br />Recived message: " + received_msg;
    };

    ws.onclose = function()
    {
        // websocket is closed.
        document.getElementById("messages").innerHTML+="<br />Connection is closed";
    };

    function sendLeft()
    {
        ws.send(JSON.stringify({myID:myID, command:"left"}));
        console.log("sent left");
        console.log("my id : " + myID);
    }
    function sendRight()
    {
        ws.send(JSON.stringify({myID:myID, command:"right"}));
        console.log("sent right");
        console.log("my id : " + myID);
    }

</script>
</body>
</html>
