html, body{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
  color:#95989A;

  /*dissable selecting*/
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */

}
.tester{
  visibility: hidden;
}
.buttonContainer{
  display: inline-block;
  margin:0px auto;
  /*overflow: auto;*/
  width: 90%;
  /*background-color: pink;*/
  font-size: 40px;
  text-align: center;
}
span{

}
span:active{
  color:#E6E6E6;
}
#ok{

}
#left{
  float:left;
}
#right{
  float: right;
}
#ar-left{
  /*position: absolute;
  right: 15px;*/
}
#ar-right{
  /*position: absolute;
  right: 15px;*/
}

.fa-circle-thin{
  position: relative;
}
