html, body{
  width: 100%;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
#gameRoom{
	font-style: normal;
	font-variant: normal;
  margin: auto;
  background-color: black;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 50px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 40px;
  color:#95989A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.higlight{
  color:#E6E6E6;
}
.topDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*background-color: pink;*/
  height: 30%;
}
.gameContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 800px;
  /*background-color: pink;*/
  background-size: 109% auto;
  position: relative;
  /*left:-200px;*/
  -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.vIzdelavi{
  background-image:url("zajecbg.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
#game2{
  background-image: url("cureFever.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size:220%;
}
.game{
  border: white solid 1px;
  padding: 10px;
  font-size:20px;
  background-color: gray;
  width: 200px;
  height: 250px;
  margin-right: 10px;
  margin-left: 10px;
  -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;

}
.gameSelected{
  padding: 13px;
  font-size: 30px;
  width: 260px;
  height: 325px;
  -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
p { display: inline }
.gameRoom{
  text-align: left;
}
.gameID{
  padding-left: 500px;
  text-align: right;
}
