
#bodyDesktop{
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
  margin: auto;
  background-color: black;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 40px;
  color:#95989A;
}
#bodyMobile{
  /*dissable selecting*/
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	font-size: 8px;
	font-style: normal;
	font-variant: normal;
  margin: auto;
  background-color: black;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
  color:#95989A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
p{
  margin:0px 0px 10px 0px;
}
.welcomeContainer{
  width: 820px;
  height: 100px;
  top: 0; left: 0; bottom: 0; right: 0;
  margin: auto;
  position: absolute;
  /*background-color: pink;*/
}
.welcomeContainerMobile{
  width: 260px;
  height: ;
  /*top: 0; left: 0; bottom: 400px; right: 0;*/
  margin: auto;
  /*position: absolute;*/
  background-color: pink;
}
.higlight{
  color:#E6E6E6;
}
.test{
  color:blue;
}
.tester{
  visibility: hidden;
}
/*NUMPAD*/
#numpadContainer {

}

.keyboard {
  /*visibility: hidden;*/
  padding: 0;
  list-style: none;

  float: left;
  margin: 0 5px 5px 0;
  width: 60px;
  height: 60px;
  font-size: 24px;
  line-height: 60px;
  text-align: center;
  background: #fff;
  border: 1px solid #f9f9f9;
  border-radius: 5px;
}
.clearl{
  clear: left;
}
.zero{
  width: 193px !important;
}
/*NUMPAD*/
.code{
  width: 90%;
  height: 30px;
  text-align: center;
  border-bottom: solid;
}

#submit{
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100px;
  width: 100px;
  box-shadow: 0 8px 16px 0 rgba(f,f,f,f), 0 6px 20px 0 rgba(f,f,f,f);
  background-color: #4CAF50;
  border-radius: 50%;
}
.controllerContainer{
  background-color: pink;
  margin: auto;
}
